


body {
  margin: 0;
  padding: 0;
  font-family: 'Sen', sans-serif;
}

nav{
    background-color: ;
    padding: 10px;
}
#logo{
  padding-left: 32px;
}
ul{
  list-style-type: none;
  float: right;
}

nav ul li{
  display: inline-block;
  padding-right: 40px;

}

.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

#section-intro{
	display: flex;
	width: 100%;
  padding-top: 16px;
}

#intro{
	width: 75%;
  padding-right: 128px;

}

#intro h1{
	color: red;
	font-size: 28px;
  margin-top: 0px;
  margin-bottom: 4px;
}

#intro h2{
	color: black;
	font-size: 20px;
  margin: 0px;

}

#intro p{
	color: #3e3e3e;
	text-align: justify;
	font-size: 22px;
  margin-left: 16px;
}

#gambar-intro{
	width: 35%;
	padding-left: 160px;
}

#gambar-intro img{
	width: 256px;
	border-radius: 10px;
}

.call-me{
	padding: 10px;
	background-color: #fff;
	color: red;
	margin-top: 10px;
	border-radius: 10px;
	border: 1px solid red;
	transition: 1s;
  margin-left: 45%;
}

.call-me:hover{
	box-shadow: 0px 10px 20px #ddd;
	background-color: red;
	color: white;
	transition: 1s;
}


* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
  padding: 10px;
  text-align: justify;
  height: auto;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;

}
